#root {
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #e7e7e7;
  scroll-behavior: smooth;
}

.home-page,
.page_wrp {
  margin-top: 85px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px !important;
  background-color: #fff;
}

nav.navbar {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 120px;
}

.search_categories_sec {
  display: flex;
  gap: 10px;
  align-items: center;
}

.categoreis_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fd6500;
  height: 43px;
  padding: 12px;
  border-radius: 6px;
  color: #fff;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.categoreis_drop_wrp {
  position: relative;
}

.categ_dropdown {
  position: absolute;
  top: 56px;
  width: 280px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in 0.3s;
  transform: translateY(20px);
  border-radius: 6px;
  box-shadow: rgb(221, 221, 221) 0px 0px 8px;
  padding: 20px;
  /* height: 300px;
  overflow: auto; */
}

.categoreis_drop_wrp:hover .categ_dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* .categ_dropdown::-webkit-scrollbar {
  width: .5px;
}

.categ_dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.categ_dropdown::-webkit-scrollbar-track {
  background-color: transparent;
}

.categ_dropdown {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
} */



.categories_list_wrp {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.onhover_categ_list {
  cursor: pointer;
}

.categ_list_wrp {
  display: flex;
  justify-content: start;
  gap: 12px;
  align-items: center;
}

.onhover_categ_list img {
  width: 23px;
  height: 23px;
  object-fit: contain;
}

.categ_name {
  font-size: 17px;
  font-weight: 400;
  color: rgb(74, 85, 104);
  position: relative;
  line-height: 20px;
}

.categ_name::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 2px;
  left: 1px;
  top: 20px;
  background: #009fbc;
  transition: all ease-in 0.2s;
}

.onhover_categ_list:hover .categ_name::before {
  width: 100%;
}

.onhover_categ_list .categ_list_wrp i.fas.fa-chevron-right {
  margin-top: 4px;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
}

/* Search box */

.search-results-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
}

.search-result-item {
  display: flex;
  padding: 12px 30px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-result-item:hover {
  /* background-color: #f5f5f5; */
}

.search-result-image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 4px;
  margin-right: 30px;
  transition: all ease-in 0.3s;
}
.search-result-image:hover
{
  transform: scale(1.1);
}

.search-result-details {
  flex: 1;
}

.search-result-name {
  font-weight: 500;
  margin-bottom: 4px;
}

.search-result-price {
  color: #2ecc71;
  font-weight: 500;
}

.search-result-quantity {
  color: #666;
  font-size: 0.9em;
}

.no-results {
  padding: 16px;
  text-align: center;
  color: #666;
} 

/* another dropdown */

.onhover_categ_box {
  position: absolute;
  left: 270px;
  top: -20px;
  width: 280px;
  height: auto;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in 0.3s;
  transform: translateX(40px);
  border-radius: 6px;
  box-shadow: rgb(221, 221, 221) 0px 0px 8px;
  padding: 16px 20px;
}

.onhover_categ_list:hover .onhover_categ_box {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

.onhover_categ_box .categ_headi {
  font-size: 20px;
  font-weight: 500;
}

.onhover_categ_box ul {
  padding-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.onhover_categ_box ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: rgb(74, 85, 104);
}

.onhover_categ_box ul li:hover a {
  color: #000;
}

.search_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 350px;
  border: 1px solid #e7e7e7;
  border-radius: 6px
}

.search_box input {
  width: 100%;
  padding: 12px;
  border: none;
  height: 43px;
  border-radius: 12px;
  background-color: transparent;
  color: #000;
}

.search_box input:focus-visible {
  outline: none;
}

.search_icon {
  width: 65px;
  height: 45px;
  border-radius: 0px 6px 6px 0px;
  background-color: #fd6500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search_icon img {
  width: 20px;
}

.product-detail-wrp {
  display: flex;
  align-items: center;
}

.product-detail-wrp .product-detail:nth-child(2) .icon {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.product-detail a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.product-detail .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 0px 14px 0px 10px;
  cursor: pointer;
  position: relative;
}
.product-detail.user_detail i.fas.fa-chevron-down {
  font-size: 16px;
  font-weight: 500;
  margin-top: 1px;
}

.product-detail .icon i {
  color: #000 !important;
  font-size: 20px;
}

.product-detail .icon .name {
  font-size: 14px;
  color: #000;
}
.product-detail.user_detail
{
  margin-right: 10px;
}
.product-detail.user_detail .icon
{
  padding: 0px;
  border-right: none;
  position: relative;
}
.login_btn
{
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  transition: all ease-in 0.2s;
  border-radius: 6px;
}
.product-detail.user_detail .icon:hover .login_btn
{
  background-color: #009fbc;
}
.product-detail.user_detail:hover .login_btn .login_icon, .product-detail.user_detail:hover .name
{
  color: #fff!important;
}
.login_dropdown
{
  position: absolute;
  width: 150px;
  background: #fff;
  left: 0;
  top: 45px;
  border-radius: 6px;
  box-shadow: rgb(221, 221, 221) 0px 0px 8px;
  padding: 16px;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in 0.3s;
  transform: translateY(20px);
}
.product-detail.user_detail .icon:hover .login_dropdown
{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.login_drop_wrp
{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login_drop_wrp .links
{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #9b9898;
}
.login_drop_wrp .links:hover, .login_drop_wrp .links:hover i
{
  color: #fd6500!important;
}


.num_badge {
  width: 14px;
  height: 14px;
  background-color: rgb(240, 60, 15);
  border-radius: 2px;
  position: absolute;
  left: 20px;
  top: -7px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
}

.home-page {
  background: #e7e7e7;
  padding: 30px 20px 0px 20px;
}

.banner {
  width: 100%;
  background-color: #e7e7e7;
}

.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}

.carousel-inner {
  /* height: 340px;
  min-height: 340px; */
  border-radius: 16px
}

.carousel-indicators {
  bottom: -45px !important;
}

.product-page {
  width: 100%;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px 10px 40px 10px;
}

.main-head {
  font-size: 24px;
  font-weight: 500;
  position: relative;
}

.main-head::after,
.main-head::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: #5299f5;
  bottom: -15px;
  left: 0px
}

.main-head::before {
  left: 80px;
}

.mini_headi {
  margin-top: 30px;
  color: #9b9898;
}


.card-wrp {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 40px
}

.cards {
  padding: 24px 10px;
  border: 1px solid #9b9898;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.product-img-wrp {
  margin: 0px auto 15px;
  width: 120px;
}

img.product-img {
  width: 120px;
  height: 120px;
  transition: all ease-in 0.2s;
  cursor: pointer;
  object-fit: contain;
}

img.product-img:hover {
  transform: scale(.9);
}

.cards .p-name {
  font-size: 16px;
  font-weight: 500px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

.cards .p-price {
  font-size: 12px;
  font-weight: 500px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0278ff;
}

.add-cart-button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fd6500;
  margin-top: 12px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  gap: 10px;
}

i.fas.fa-bolt {
  margin-top: 3px;
}

.fav-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.slick-track {
  display: flex !important;
}

button.slick-arrow.slick-next,
button.slick-arrow.slick-prev {
  display: none !important;
}

.slider-container {
  margin-top: 24px;
}

.slick-list {
  height: auto;
}

.slick-slide {
  margin-right: 10px;
  min-width: 230px;
}

i.far.fa-heart,
i.fas.fa-heart {
  color: red;
}

.slick-dots {
  bottom: -30px !important;
}

.carousel-indicators [data-bs-target] {
  width: 6px !important;
  height: 6px !important;
  border-radius: 50%;
  background-color: #6b6969 !important;
}

.newsletter {
  padding: 50px 20px;
}

.newsletter-detail {
  width: 100%;
  height: 210px;
  background-image: url(./assets/images/newslatter.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 15%;
}

.news-haedi {
  color: #fff;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.news_cont .search_box {
  background-color: #fff;
  padding: 3px 3px 3px 6px;
  height: 50px;
  width: 430px;
  justify-content: space-between;
}

.news_cont .search_box .wrp {
  display: flex;
  align-items: center;
}

.news_cont .search_box .wrp i {
  width: 40px;
  height: 30px;
  background-color: #e1f4f8;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_cont .search_box input::placeholder {
  color: #292828;
  font-weight: 500;
}

.news_cont .search_box .search_icon {
  width: auto;
  padding: 0px 14px;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.news_cont .search_box .search_icon i {
  margin-top: 3px;
}

.footer {
  width: 100%;
  background-color: #fff;
  padding: 40px 0px;
}

.footer_cont_wrp {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  border-top: 2px dotted #a5a5a5;
  padding: 40px 0px;
  border-bottom: 2px dotted #a5a5a5;
}

.footer-logo {
  width: 130px;
  margin-bottom: 20px;
}

.footer p,
.footer ul li a,
.copy_right_row div {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6b6969;
  text-decoration: none
}

.footer h3 {
  font-size: 20px;
  font-weight: 500;
}

.footer ul {
  padding-left: 0px;
  margin-top: 30px;
}

.footer ul li {
  list-style: none;
  margin-bottom: 12px;
}

.go_to_top_btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: #009fbc;
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transform: translateX(40px);
  transition: all ease 0.3s;
}

.go_to_top_btn.show {
  transition: all ease 0.3s;
  transform: translateY(0);
}

.go_to_top_btn:hover {
  color: #fff;
}

.copy_right_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.download_sect {
  display: flex;
  gap: 8px;
  margin-top: 30px;
}

.download_sect img {
  width: 120px;
  height: 36px;
  border-radius: 6px;
  cursor: pointer;
}


.flex.space-x-4 {
  gap: 10px;
  display: flex;
  cursor: pointer;
}

.add_cart_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart_counter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cart_counter .icon_wrp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_counter .icon_wrp i {
  color: rgb(15, 62, 88);
  font-weight: 600;
}

/* Cart Page */

.cartpage_wrp {
  width: 100%;
  padding: 25px 20px 40px;
  background-color: #f1f3f6;
}

.cart_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
}

.links_Wrp {
  display: flex;
  gap: 12px;
}

.links_Wrp .links {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.links_Wrp a {
  text-decoration: none;
  color: #009fbc;
  font-weight: 400;
  cursor: pointer;
}

.links_Wrp .links i {
  margin-top: 2px;
  color: rgb(74, 85, 104);
}

.links_Wrp .links i.fas.fa-home {
  font-size: 22px;
}

.cart_head .headi {
  font-size: 20px;
  font-weight: 600;

}

.mycart_detail_wrp {
  width: 100%;
  gap: 12px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  margin-top: 15px;
}

.cart_detail_wrp {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 15px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
}

.cart-table th,
.cart-table td {
  text-align: left;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

.cart-table th {
  color: #444;
  font-size: 14px;
}

.cart-table th,
.cart-table td {
  vertical-align: top;
}

.table_head {
  margin-bottom: 12px;
}

/* .cart-table tr td:nth-child(2) 
{
  min-width: 180px
} */
.product-cell {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-cell .product-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}

td.product-cell img {
  width: 80px;
  min-width: 80px;
  height: 80px;
  object-fit: contain;
  transition: all ease-in 0.2s;
  cursor: pointer;
}

/* .product-cell .img_wrp
{
  overflow: hidden;
  border-radius: 10px;
} */
td.product-cell img:hover {
  transform: scale(1.1);
}

.product-name {
  font-weight: 600;
}

.product-price {
  color: #555;
  font-size: 14px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.quantity-controls button {
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #e4e4e4;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-btn {
  color: #c00;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 0px;
}

.remove-btn:hover {
  text-decoration: underline;
}

.cart-summary {
  max-width: 415px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-radius: 6px;
  position: sticky;
  top: 100px;
}

.summary-box h3 {
  margin: 0 0 16px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.summary-row,
.total-amount-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 16px;
}

.total-amount-row {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.total-amount {
  color: #0d9488;
  /* teal-600 */
}

.checkout-btn {
  width: 100%;
  background-color: #fd6500;
  /* amber-500 */
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  opacity: 80%;
}

.return-btn {
  width: 100%;
  background-color: #e5e7eb;
  /* gray-200 */
  color: #111827;
  /* gray-900 */
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
}

.arrow {
  margin-right: 8px;
}

.cart-summary,
.cart_detail_wrp {
  height: fit-content;
}

.success_text {
  margin-top: 10px;
  color: green;
  font-weight: 500;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 3px;
  position: absolute;
  bottom: 3px;
  left: 10px;
}

/* Wishlist ui */

.wishlist {
  width: 100%;
  background: #fff;
  margin-top: 15px;
  border-radius: 6px;
  padding: 20px 16px;
}

.wishlist-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.wishlist-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease;
  cursor: pointer;
}

.wishlist-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.wishlist-img img {
  width: 100%;
  height: 110px;
  object-fit: contain;
  border-radius: 6px;
  margin-bottom: 16px;
}

.wishlist-info {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  color: #555;
  font-size: 14px;
}

.wishlist-remove-btn {
  background: #e60023;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.wishlist-remove-btn:hover {
  background: #ff4d4f;
}

.wishlist.empty {
  text-align: center;
  margin-top: 20px;
  padding: 40px;
}

.wishlist.empty p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

/* login */

.login-container {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  background-color: white;
  border-radius: 8px;
  /* box-shadow: 0 0 20px rgba(0,0,0,0.1); */
  width: 100%;
  margin-top: 16px;
  padding: 20px 100px;
  gap: 30px;
}

.illustration {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration img {
  width: 90%;
  max-width: 400px;
  margin-right: auto;
}

.login-box {
  padding: 40px;
  background-color: #fafafa;
  border-radius: 10px;
}

.login-box h2 {
  margin-bottom: 8px;
  font-size: 24px;
  color: #333;
}

.subtitle {
  color: #777;
  margin-bottom: 20px;
}

.login-box form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.login-box form input:focus-visible
{
  outline: none;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.options a {
  color: #00a6c4;
  text-decoration: none;
}

.login-btn {
  background-color: #fd6500;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #ff9400;
}
.check_box
{
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  gap: 8px;
}
.check_box input
{
  margin-bottom: 0px!important;
}
hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: #eee;
}

.signup-text {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.signup-text a {
  color: #00a6c4;
  text-decoration: none;
  font-weight: bold;
}
.login-container.sign_up_container
{
  grid-template-columns: 1fr 1fr;
  padding: 20px 40px;
}
.sign_up_container .name-fields, .mobile-fields
{
  display: flex;
  gap: 20px;
}
.phone-group
{
  display: flex;
  width: 106%;
}
.phone-group input
{
  border-left: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-top-left-radius: 0px!important;
}
.phone-group select
{
  border-color: #ccc;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  padding: 0px 6px;
  /* min-width: 40px; */
}
.phone-group select:focus-visible
{
  outline: none;
}

.sign_up_container .login-box form input
{
  margin-bottom: 0px;
}
.sign_up_container .check_box input
{
  width: unset;
}
.sign_up_container form
{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1149px) {
  .login-container
  {
    padding: 20px 40px;
  }
}


@media screen and (max-width: 1024px) {

  .login-container
  {
    grid-template-columns: 1fr 1fr;
  }
  .footer_cont_wrp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .mycart_detail_wrp {
    display: flex;
    flex-wrap: wrap;
  }

  .cart-summary {
    margin: auto;
    position: static;
    max-width: none;
  }

  .search_categories_sec {
    margin-right: auto;
    padding-left: 30px;
  }

  .wishlist-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (max-width: 992px) {

  .login-container.sign_up_container
  {
    display: flex;
    flex-direction: column-reverse;
  }

  .sign_up_container .illustration img
  {
    margin: 0px auto;
    margin-top: 30px;
  }
  .navbar .search_box {
    display: none;
  }

  .navbar {
    padding: 14px 20px !important;
  }

  .home-page,
  .page_wrp {
    margin-top: 60px;
  }

  .logo img {
    width: 100px;
  }
}


@media screen and (max-width: 767px) {
  .login-container
  {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 40px;
    gap: 40px;
  }
  .illustration img
  {
    margin-right: unset;
  }
  .newsletter-detail {
    padding-left: 0px;
    justify-content: center;
    height: 190px;
  }

  .footer_cont_wrp {
    grid-template-columns: repeat(2, 1fr);
  }

  .categ_dropdown {
    width: 230px;
  }

  .onhover_categ_box {
    left: 220px;
    width: 230px;
  }

  .cart_detail_wrp {
    overflow: auto;
  }

  .wishlist-cards {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 600px) {
  .login-container, .login-container.sign_up_container
  {
    padding: 20px 16px;
  }
  .sign_up_container .name-fields, .mobile-fields
  {
    flex-direction: column;
  }
  .phone-group
  {
    width: 100%;
  }
  .illustration img
  {
    width: 80%;
  }
  .login-box
  {
    padding: 20px 16px;
  }
  .wishlist-img img {
    height: 100px;
  }

  .wishlist-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .newsletter {
    padding: 40px 0px;
  }

  .footer_cont_wrp {
    padding: 40px 10px;
    gap: 20px;
  }

  .news_cont .search_box {
    width: 100%;
  }

  .newsletter-detail {
    padding: 20px;
    background-size: cover;
    height: 170px;
  }

  .copy_right {
    padding: 20px;
  }

  .copy_right_row {
    margin-top: 10px;
    flex-flow: wrap-reverse;
    justify-content: center;
    gap: 20px;
  }

  .footer {
    padding-bottom: 0px;
  }

  .slick-dots {
    display: none !important;
  }

  .home-page {
    padding: 20px 16px 0px 16px;
  }

  .product-page {
    margin-top: 30px;
    padding-bottom: 20px;
  }

  .news-haedi {
    font-size: 24px;
  }

  .news_cont .search_box {
    height: 40px;
  }

  .news_cont .search_box .search_icon,
  .news_cont .search_box input {
    height: 36px;
    font-size: 12px;
  }

  .news_cont .search_box input {
    background: transparent;
    color: #000;
  }

  .navbar {
    padding: 14px 15px !important;
  }

  .product-detail-wrp .product-detail:last-child .icon {
    padding-right: 0px;
  }

  .mini_headi {
    margin-top: 24px;
  }

  .slider-container {
    margin-top: 20px;
  }

  .main-head {
    font-size: 20px;
  }

  .main-head::after,
  .main-head::before {
    bottom: -12px;
  }

  .footer h3 {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .footer_cont_wrp {
    grid-column-gap: 30px;
    grid-row-gap: 24px;
  }

  .footer ul li {
    margin-bottom: 8px;
  }

  .footer ul {
    margin-top: 20px;
  }

  .footer p {
    font-weight: 500;
  }

  .product-detail .icon {
    padding: 0px 8px 0px 8px;
  }

  svg.text-gray-600.cursor-pointer {
    font-size: 16px;
  }

  .download_sect {
    /* flex-direction: column; */
    margin-top: 20px;
    gap: 12px;
  }

  .download_sect img {
    height: 43px;
    width: 100%;
    object-fit: fill;
  }

  .product-detail .icon i {
    font-size: 15px;
  }

  .product-detail .icon .name {
    font-size: 12px;
  }

  .num_badge {
    width: 12px;
    height: 12px;
    left: 17px;
    top: -6px;
    font-size: 8px;
  }

  .cartpage_wrp {
    padding: 16px 10px 30px;
  }

  .cart_head {
    padding: 6px 8px;
  }

  .cart_head .headi {
    font-size: 18px;
  }

  .links_Wrp .links {
    font-size: 12px;
    gap: 5px;
  }

  .links_Wrp .links i.fas.fa-home {
    font-size: 16px;
    margin-top: 1px;
  }

  .links_Wrp {
    gap: 8px;
  }

  .cart-table th,
  .cart-table td {
    padding: 12px;
  }

  td.product-cell img {
    width: 60px;
    min-width: 60px;
    height: 62px;
    object-fit: contain;
    transition: all ease-in 0.2s;
    cursor: pointer;
  }

  td.product-cell img:hover {
    transform: scale(1.5);
  }

  .cart_detail_wrp {
    padding: 15px 10px;
  }

  .table_head {
    margin-bottom: 7px;
  }

  .search_categories_sec {
    display: none;
  }

  .quantity-controls button {
    width: 24px;
    min-height: 24px;
    min-width: 24px;
    height: 24px;
    font-size: 16px;
  }

  .Toastify__toast-container.Toastify__toast-container--top-right {
    padding: 8px;
  }
}

@media screen and (min-width: 1550px) {
  .container-sm {
    max-width: 1450px !important;
  }

  .home-page {
    padding: 30px 40px 0px;
  }

  .navbar {
    padding: 20px 60px !important;
  }
  .illustration img {
    margin-right: unset;
  }
  .newsletter-detail
  {
    height: 300px;
  }
  .news-haedi
  {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .home-page {
    padding: 30px 100px 0px;
  }
  .navbar {
    padding: 20px 100px !important;
  }
}